<div class="p-8 flex flex-row gap-4 justify-center justify-items-center items-center">
    <app-cryptocurrency-metrics-card [cryptocurrencyId]="cryptocurrencies.dogecoin" />
    <app-cryptocurrency-metrics-card [cryptocurrencyId]="cryptocurrencies.bitcoin" />
    <app-cryptocurrency-metrics-card [cryptocurrencyId]="cryptocurrencies.ethereum" />
</div>

<mat-divider />

<div class="p-8 flex flex-row gap-4 justify-center justify-items-center items-center">
    <app-best-exchange-platform />
</div>