<div class="p-8 max-w-2xl mx-auto">
    @if (hasError()) {

        <app-error message="Une erreur est survenue durant le chargement." />
        
    } @else {

        @switch (currentPurchaseStep()) {
            @case (purchaseStep.TICKET_SELECTION) {
                <app-ticket-selector [dogecoinPriceUsd]="dogecoinPriceUsd()" (ticketsSelected)="onTicketsSelected($event)"></app-ticket-selector>
            }
            @case (purchaseStep.PURCHASE_SUMMARY) {
                <app-purchase-summary [ticketInfo]="selectedTicketInfo()"></app-purchase-summary>
            }
        }

    }
</div>