<app-card title="Acheter des tickets de transport parisien en Dogecoin">
  <div class="text-gray-700 mb-4">
    Chaque ticket coûtent {{ticketPriceEuro}}€, soit environ {{ticketPriceDogecoin() | number : "1.2-2"}} DOGE.
  </div>

  <mat-form-field class="w-full">
    <mat-label>Nombre de tickets</mat-label>
    <input matInput type="number" [formControl]="quantityControl" min="1" />

    @if (quantityControl.touched && quantityControl.hasError('required')) {
      <app-error message="Veuillez entre un nombre de tickets." />
    } @if (quantityControl.hasError('min')) {
      <app-error message="Au minimum 1 ticket." />
    }
  </mat-form-field>

  <p>
    Prix total: {{ totalPriceInDoge() | number : "1.2-2" }} Dogecoin
    @if(isDiscountApplied()) {
        ({{appliedDiscount * 100}}% de réduction sont appliqués)
    }
  </p>

  <div class="flex flex-row justify-end">
    <app-button (click)="emitSelectedTickets()" [disabled]="quantityControl.invalid">
      Sélectionner ces tickets
    </app-button>
  </div>
</app-card>
